__pycache__
*~
*.pyc
log/*.log
netgrphdev.ini
netgrphtest.ini
neo4j-queries.txt
build-commands
.vscode/
ngtest.py.bak
.cache/
.DS_Store
venv/
api.log
api.db
newhal.crt
newhal.key
prod.ini
test.ini
nsj.ini
nsj.log
job.log
*.cmd